.btn {
  @apply inline-block rounded border border-transparent px-5 py-2 font-semibold capitalize transition;
}

.btn-sm {
  @apply rounded-sm px-4 py-1.5 text-sm;
}

.btn-primary {
  @apply border-primary bg-primary text-white dark:border-primary dark:bg-primary dark:text-white;
}

.btn-outline-primary {
  @apply border-dark text-text-dark hover:bg-dark dark:hover:text-text-dark bg-transparent hover:text-white dark:border-darkmode-primary dark:text-white dark:hover:bg-darkmode-primary;
}

.btn-outline-light {
  @apply border border-white bg-transparent text-white hover:bg-white hover:text-dark dark:border-white dark:text-white dark:hover:bg-white dark:hover:text-darkmode-text-dark;
}
